<div class="final-value"></div>
<table class="pencil-marks">
    <tr>
        <td class="pm pm-1">1</td>
        <td class="pm pm-2">2</td>
        <td class="pm pm-3">3</td>
    </tr>
    <tr>
        <td class="pm pm-4">4</td>
        <td class="pm pm-5">5</td>
        <td class="pm pm-6">6</td>
    </tr>
    <tr>
        <td class="pm pm-7">7</td>
        <td class="pm pm-8">8</td>
        <td class="pm pm-9">9</td>
    </tr>
</table>